.navbar-custom{
  background-color: #00a087 ;
  height: 80px;
  padding: 0.25rem 2rem;
}
.navbar-text{
  color: #e8fdff;
  padding-left: 10px;
  font-size: 2rem;
}
.headImg{
  height: 80px;
  width: 80px;
}
.headerRow{
  height: 3rem;
}
.inputText{
  margin-top: 1rem;
  width: 100%;
  padding: 0.2rem 0.4rem;
}
.tweetButton{
  margin-bottom: 1rem;
}
.tweetHeadRow{
  border-top: solid;
  border-right: solid;
  border-left: solid;
  border-width: 0.05rem;
  padding-top: 0.3rem;
}
.tweetBodyRow{
  border-right: solid;
  border-left: solid;
  border-width: 0.05rem
}
.tweetFootRow{
  border-right: solid;
  border-left: solid;
  border-bottom: solid;
  border-width: 0.05rem
}
.btn-primary{
  margin-bottom: 5px;
}
.tweetHeadBig{
  font-size: 1.5rem;
  border-bottom: solid;
  border-bottom-width: 0.1rem;
  margin-bottom: 5px;
}
.charCount{
  float: right;
  padding-right: 0.5rem;
}